@mixin card(){
        position: relative;
        width: 600px;
        height: 350px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        transition: 0.5s;
        .tituloCards{
            font-size: xx-large;
            color: #fff;
            align-self: flex-start;
            margin-left: 7%;
        }
        .circle{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            z-index: -1;
        }
        .circle::before{
            content: '';
            position: absolute;
            // top: -12%;
            // left: -11%;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background: #24243e;
//             background: #73C8A9;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            // background: #0f0c29;  
            // background: -webkit-linear-gradient(to right, #24243e, #242150, #0f0c29); 
            // background: linear-gradient(to right, #24243e, #242150, #0f0c29); 
            clip-path: circle(120px at center);
            transition: 0.5s;
        }
        .content{
            position: relative;
            width: 50%;
            left: 20%;
            padding: 20px 20px 20px 40px;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            h2{
                color: #fff;
                text-transform: uppercase;
                font-size: 2em;
                line-height: 1em;
                margin-bottom: 5px;
            }
            h3{
                color: #979797;
                text-transform: uppercase;
                font-size: 1em;
                margin-bottom: 10px;
                font-weight: 700;
            }
            ul{
                color: #fff;
                list-style-type: decimal;
                // margin-left: 10px;
            }
            .videoCoctel{
                position: absolute;
                width: 50%;
                height: 100%;
                border-radius: 20px;
                left: 0px;
                margin-top: 5%;
                z-index: 4;
                transition: 0.5s;
                iframe{
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
            }
        }
        img{
            position: absolute;
            // top: 58%;
            top: 45%;
            left: 50%;
            transform: translate(-50%,-50%);
            // height: 300px;
            height: 100%;
            pointer-events: none;
            transition: 0.5s;
            z-index: -1;
        }
    
    
    
    &:hover {
        .circle::before{
            background: #0f0c29;  
            background: -webkit-linear-gradient(to right, #24243e, #242150, #0f0c29); 
            background: linear-gradient(to right, #24243e, #242150, #0f0c29); 
           
            // background: #73C8A9;  /* fallback for old browsers */
            // background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
            // background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            clip-path: circle(400px at center);
            top: 0%;
            left: 0%;
        }
        .tituloCards{
            display: none;
        }
        .content{
            left: 0;
            opacity: 1;
            visibility: visible;
            padding-bottom: 90px;
            h2{
                margin: 0%;
                top: 0%;
            }
            .videoCoctel{
                width: 200%;
                transition: 0.5s;
            }
        }
        img{
            left: 78%;
            top: 25%;
            height: 109%;

        }
    }
    
}

.card1{
    @include card();
    /*
    Para las variables en card1:

    tituloCards: Coctel Margarita
    h2: Coctel Margarita
    h3: Refrescante
    p: la lista de ingredientes /: 
    podria ser que por cada coctel el circle cambiara de bkground...
    lo mismo seria para el card...






    Para las variables en card1:HOVER :
    el top 
    height de la img del coctel...
    padding-bottom del content...s
    */
}
