@media  (max-width:560px){

    body{
        background-color: brown;
    }
    header{
        display: flex;
        flex-flow: column;
        height: 94vh;
    }

    .logo{
        width: 100%;
        height: 58%;
        
    }

    .imgLogo{
        width: 100%;
        height: 80%;
        margin-left: 1px;
    }

    .barraNav{
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 25%;
    }

    .menu{
        margin-top: 0%;
        margin-left: 8px;
        justify-content: center;
    }

    .menu li:nth-child(2){
        padding-left: 50px;
        margin-left: 5px;
    }

    .banner{
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    main{
        grid-gap: 2%;
        height: 480vh;
    }
    .seccionInfo{
        height: 60vh;
    }

    .contenedorBtnSeccionInfo{
        top: 25%;
    }

    .seccionInfo2{
        height: 60vh;
    }

    .contenidoInfo2{
        grid-column: 1 / 3;
        grid-row: 1 / 5;
        background-size: cover;
        background-position: center;
    }

    .botonInfo2{
        margin-right: 0%;
    }

    .galeria{
        margin-top: 0%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,0.5fr);
    }

    .galeria :nth-child(1){
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        object-fit: cover;
    }
    
    .img2{
        border-radius: 0px 20px 0px 0px
    }
    .galeria :nth-child(2){
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        object-fit: cover;
        height: 100%;
    }

    .galeria :nth-child(4){
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        object-fit: cover;
        height: 100%;
    }

    .galeria :nth-child(3){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        object-fit: cover;
        height: 100%;
    }

    .galeria :nth-child(5){
        grid-column: 1 / 5;
        grid-row: 3 / 5;
        width: 100%;
        height: 90%;
    }

    .video{
        width: 100%;
        object-fit: cover;
        border-radius: 0px 0px 20px 20px;
    }

    footer{
        background-image: url('../img/imagen-footer-1.jpg');
        background-size: cover;
        height: 80%;
        background-position: center;
        filter: brightness(55%)
    }
    .contenedorMenuFooter{
        grid-column: 1 / 3;
        width: 100%;
    }

    .listaRedes{
        margin-left: 26%;
    }

    .imagenFooter{
        display: none;
    }
}