@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url("./_media360.scss");
@import url("./_media560.scss");
@import url("./_media768.scss");
.barraNav {
  width: 100%;
  height: 90px;
  background: #1F1C2C;
  background: linear-gradient(to right, #2b273d, #2b273d);
  display: flex;
  flex-flow: row;
  position: fixed;
  border-radius: 0px 0px 20px 20px;
  align-self: center;
  z-index: 5;
}
.barraNav div {
  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: 5px;
}
.barraNav div img {
  width: 70%;
  height: 75%;
}
.barraNav nav {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-between;
  align-content: center;
}
.barraNav nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}
.barraNav nav ul li .opcionesResp {
  display: none;
  width: 0%;
  margin: 1px;
}
.barraNav nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.barraNav nav ul li a:hover {
  text-decoration: underline;
}
.barraNav nav ul li ul {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  margin-top: -26px;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 115%;
  padding: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  margin-left: -18px;
  margin-right: 18px;
}
.barraNav nav ul li ul li a {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: -5px;
  padding: 0px 10px 10px 10px;
  text-decoration: none;
  margin-left: 2px;
}
.barraNav nav ul li ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: #2b273d;
}
.barraNav nav ul li ul:hover {
  background-color: #2b273d;
}

@media (max-width: 525px) {
  .barraNav nav ul li {
    margin-left: 3px;
    margin-right: 3px;
  }
  nav ul li ul {
    display: none;
  }
}
.bannerInicio {
  height: 100vh;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: -1;
  border-radius: 0px 0px 20px 20px;
  background-image: url("../img/cocteles-banner-inicio.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  opacity: 95%;
}
.bannerInicio div {
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  margin-right: 42%;
}
.bannerInicio div .textoBanner1::before {
  content: "El sitio donde te explicamos como hacer cocteles de forma sencilla";
}

.bannerLista {
  height: 100vh;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: -1;
  border-radius: 0px 0px 20px 20px;
  background-image: url("../img/fondoLista.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  opacity: 70%;
}
.bannerLista div {
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  margin-right: 42%;
}
.bannerLista div .textoBanner1::before {
  content: "Tenemos una lista de cocteles que te van a interersar como hacer y que tienes que probar";
}

.bannerHistoria {
  height: 100vh;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: -1;
  border-radius: 0px 0px 20px 20px;
  background-image: url("../img/fondoHistoria.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  opacity: 70%;
}
.bannerHistoria div {
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  margin-right: 42%;
}
.bannerHistoria div .textoBanner1::before {
  content: "Conoce un poco de la historia de los cocteles con este pequeño resumen";
}

.bannerSitiosBogota {
  height: 100vh;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: -1;
  border-radius: 0px 0px 20px 20px;
  background-image: url("../img/sitio-amigos.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  opacity: 70%;
}
.bannerSitiosBogota div {
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  margin-right: 42%;
}
.bannerSitiosBogota div .textoBanner1::before {
  content: "Donde tomarme un buen coctel en Bogotá D.C.";
}

.card1 {
  position: relative;
  width: 95%;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  /*
  Para las variables en card1:

  tituloCards: Coctel Margarita
  h2: Coctel Margarita
  h3: Refrescante
  p: la lista de ingredientes /: 
  podria ser que por cada coctel el circle cambiara de bkground...
  lo mismo seria para el card...






  Para las variables en card1:HOVER :
  el top 
  height de la img del coctel...
  padding-bottom del content...s
  */
}
.card1 .tituloCards {
  font-size: xx-large;
  color: #fff;
  align-self: flex-start;
  margin-left: 7%;
}
.card1 .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  z-index: -1;
}
.card1 .circle::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #24243e;
  -webkit-clip-path: circle(120px at center);
          clip-path: circle(120px at center);
  transition: 0.5s;
}
.card1 .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.card1 .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}
.card1 .content h3 {
  color: #979797;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 700;
}
.card1 .content ul {
  color: #fff;
  list-style-type: decimal;
}
.card1 .content .videoCoctel {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  left: 0px;
  margin-top: 5%;
  z-index: 4;
  transition: 0.5s;
}
.card1 .content .videoCoctel iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card1 img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  pointer-events: none;
  transition: 0.5s;
  z-index: -1;
}
.card1:hover .circle::before {
  background: #0f0c29;
  background: linear-gradient(to right, #24243e, #242150, #0f0c29);
  -webkit-clip-path: circle(400px at center);
          clip-path: circle(400px at center);
  top: 0%;
  left: 0%;
}
.card1:hover .tituloCards {
  display: none;
}
.card1:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
  padding-bottom: 90px;
}
.card1:hover .content h2 {
  margin: 0%;
  top: 0%;
}
.card1:hover .content .videoCoctel {
  width: 200%;
  transition: 0.5s;
}
.card1:hover img {
  left: 78%;
  top: 25%;
  height: 109%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyLista {
  width: 100%;
}

.barraNav {
  left: 0px;
  right: 0px;
}

.bannerLista {
  width: 100%;
}

.mainLista {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 5px;
  flex-direction: column;
  overflow: scroll;
}
.mainLista h1 {
  margin: 2%;
  color: #5bb331;
}
.mainLista .intro {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
  font-size: large;
  color: #fff;
}
.mainLista .contenedorCards {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  body .videoBody {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mainLista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .mainLista .contenedorCards {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .mainLista .contenedorCards .card {
    position: relative;
    width: 95%;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 5%;
  }
  .mainLista .contenedorCards .card1 {
    width: 89%;
  }
  .mainLista {
    margin-left: 0%;
    margin-right: 0%;
  }
  .card .content {
    left: 0%;
  }
  .card:hover img {
    height: 70%;
  }
}
@media (max-width: 525px) {
  header div:nth-child(2) {
    top: 5%;
  }
  .mainLista .contenedorCards {
    width: 80%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .mainLista .contenedorCards .card {
    position: relative;
    width: 100%;
    height: 380px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 5%;
  }
  .mainLista .contenedorCards .card1 {
    width: 90%;
  }
  .mainLista .contenedorCards .card1 h2 {
    font-size: 1em;
  }
  .mainLista .contenedorCards .card1 h3 {
    font-size: small;
  }
  .mainLista .contenedorCards .card1 ul {
    font-size: small;
  }
  .mainLista .contenedorCards .card1 img {
    width: 65%;
  }
}
@media (max-width: 360px) {
  header div:nth-child(2) {
    top: 10%;
  }
  .card1 {
    overflow: scroll;
  }
  .card1 .content {
    width: 100%;
  }
  .card1 .content .videoCoctel {
    width: 50%;
  }
  .card1 img {
    width: 100%;
  }
  .card1:hover .content .videoCoctel {
    width: 100%;
  }
  .card1:hover img {
    opacity: 40%;
  }
}
html {
  scroll-behavior: smooth;
}

.btnBanner {
  color: #fff;
  position: relative;
  justify-self: center;
  align-self: center;
  top: -33%;
}

.contenedorHistoria {
  width: 100%;
  color: black;
  margin: 0;
  display: block;
  height: auto;
}

.contenidoHistoria {
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: center;
}
.contenidoHistoria h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}
.contenidoHistoria p {
  font-weight: 7px;
  margin-bottom: 3px;
  text-align: justify;
}
.contenidoHistoria img {
  width: 50%;
  height: 50%;
}
.contenidoHistoria a {
  display: inline-block;
  padding: 5px 0;
  color: black;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #fff;
  margin-bottom: 5%;
}
.contenidoHistoria article {
  margin-right: 5%;
}

.contenidoHistoria:nth-child(2) {
  margin-top: 0%;
}
.contenidoHistoria:nth-child(2) img {
  width: 45%;
  -o-object-fit: contain;
     object-fit: contain;
}
.contenidoHistoria:nth-child(3) img {
  width: 45%;
}
.contenidoHistoria:nth-child(3) article {
  margin-right: 2%;
}

.contenidoHistoria:nth-child(1) {
  color: #fff;
  background: #0f0c29;
  background: linear-gradient(to right, #24243e, #242150, #0f0c29);
  margin-top: 5%;
}

.contenidoHistoria:nth-child(2) {
  color: #fff;
  background-image: linear-gradient(to top, #f3c4a4 0%, #dba884 100%);
}
.contenidoHistoria:nth-child(2) a {
  border: #fff;
}
.contenidoHistoria:nth-child(2) img {
  height: 85%;
}

.contenidoHistoria:nth-child(3) {
  color: #fff;
  background-image: url("../img/fondo2.jpg");
  background-size: auto;
}
.contenidoHistoria:nth-child(3) article {
  font-size: 13px;
}

@media (max-width: 1018px) {
  .contenedorHistoria {
    height: auto;
  }
  .contenedorHistoria .contenidoHistoria:nth-child(1) div:nth-child(1) {
    margin-top: 80px;
  }
  .contenedorHistoria article {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .contenidoHistoria {
    height: 100vh;
  }
  .contenidoHistoria:nth-child(1) {
    height: auto;
  }
  .contenidoHistoria:nth-child(1) img {
    width: 50%;
  }
  .contenidoHistoria:nth-child(3) {
    height: auto;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
  .contenidoHistoria:nth-child(3) article {
    font-size: 10px;
  }
  .contenidoHistoria:nth-child(3) img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 240px;
  }
  .contenidoHistoria h2 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .contenidoHistoria article {
    font-size: 12px;
    margin-right: 14px;
  }
  .contenidoHistoria p {
    font-weight: 4px;
    margin-bottom: 3px;
  }
  .contenidoHistoria img {
    width: 100%;
    height: 34%;
  }
  .contenidoHistoria a {
    display: inline-block;
    padding: 5px 0;
    color: black;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #fff;
  }
}
@media (max-width: 525px) {
  .btnBanner {
    top: -20%;
  }
  .contenidoHistoria:nth-child(1) {
    flex-direction: column-reverse;
    margin-top: 0%;
  }
  .contenidoHistoria:nth-child(1) div:nth-child(1) {
    margin-top: 0%;
  }
  .contenidoHistoria:nth-child(1) img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    margin-top: 5%;
  }
  .contenedorHistoria .contenidoHistoria:nth-child(1) div:nth-child(1) {
    margin-top: 3%;
  }
  .contenedorHistoria .contenidoHistoria:nth-child(1) img {
    margin-top: 5%;
  }
}
@media (max-width: 360px) {
  .btnBanner {
    top: -7%;
  }
}
.headerContactenos {
  height: 20px;
}

.mainContactenos {
  width: 100%;
  height: 195vh;
  margin-left: 0%;
  margin-right: 0%;
}

.seccion1 {
  width: 100%;
}

.imagenBannerCont {
  width: 100%;
  opacity: 40%;
  filter: brightness(85%);
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .mainContactenos {
    height: 275vh;
  }
  .carousel-caption {
    color: #fff;
    text-align: center;
  }
}
@media (max-width: 525px) {
  .mainContactenos {
    height: 245vh;
  }
}
@media (max-width: 360px) {
  .mainContactenos {
    height: 230vh;
  }
}
.mainSitios {
  width: 100%;
  margin: 0px;
  padding: 0%;
}

.contenedorCardsSitio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.cardSitio {
  width: 40%;
  height: auto;
  background: #0f0c29;
  background: linear-gradient(to right, #24243e, #242150, #0f0c29);
  border-radius: 20px;
  margin: 3%;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50vh, 40vh;
}
.cardSitio img {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardSitio .infoSitio {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}
.cardSitio .infoSitio h2 {
  margin-top: 5%;
  margin-left: 5%;
}
.cardSitio .infoSitio h3 {
  color: #979797;
  margin-left: 5%;
}
.cardSitio .infoSitio p {
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 3px;
}
.cardSitio .infoSitio a {
  color: greenyellow;
  font-size: small;
  margin-left: 5%;
}
.cardSitio .mapaSitio {
  width: 100%;
  height: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
}
.cardSitio .mapaSitio iframe {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  border-radius: 20px;
}

@media (max-width: 1440px) {
  .mainSitios {
    height: 414vh;
  }
}
@media (max-width: 768px) {
  .contenedorCardsSitio {
    flex-direction: column;
    margin-top: 10%;
  }
  .contenedorCardsSitio .cardSitio {
    width: 90%;
  }
  .mainSitios {
    height: 554vh;
  }
}
@media (max-width: 525px) {
  .mainSitios {
    height: 626vh;
  }
}
@media (max-width: 360px) {
  .mainSitios {
    height: 623vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(0, 0, 0);
}
body header {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

.videoBody {
  z-index: -5;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: hue-rotate(45deg);
  opacity: 40%;
  transform: rotate(3.142rad);
  transform: rotate(0);
}

main {
  width: 90%;
  height: 315vh;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 2fr);
  grid-gap: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
main .seccionInfo {
  width: 100%;
  height: 80vh;
  grid-column: auto;
  grid-row: 1;
  border-radius: 20px;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}
main .seccionInfo div:nth-child(1) {
  width: 100%;
  grid-row: 1/4;
  grid-column: 1/11;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
main .seccionInfo div:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: brightness(70%);
  -o-object-fit: cover;
     object-fit: cover;
}
main .seccionInfo div:nth-child(2) {
  grid-row: 2;
  grid-column: 3/9;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  margin-right: 20%;
}
main .seccionInfo div:nth-child(3) {
  grid-row: 3;
  grid-column: 4/8;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .seccionInfo2 {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: repeat(4, 0.5fr);
}
main .seccionInfo2 div:nth-child(1) {
  grid-row: 1/5;
  grid-column: 1/4;
  width: 100%;
  z-index: -2;
  height: 100%;
}
main .seccionInfo2 div:nth-child(1) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  filter: brightness(65%);
}
main .seccionInfo2 div:nth-child(2) {
  grid-row: 1/5;
  grid-column: 1/3;
  z-index: -1;
  display: flex;
  flex-flow: column;
}
main .seccionInfo2 div:nth-child(2) div:nth-child(1) {
  color: white;
  margin-right: 40%;
  text-align: center;
  position: relative;
  top: 27%;
  font-size: xx-large;
  height: auto;
}
main .seccionInfo2 div:nth-child(2) div:nth-child(2) {
  margin-right: 40%;
  text-align: top;
  position: relative;
  top: 35%;
  font-size: xx-large;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .seccionInfo2 div:nth-child(3) {
  grid-row: 1/5;
  grid-column: 3/5;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
main .seccionInfo2 div:nth-child(3) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
main .galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 3%;
}
main .galeria div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
main .galeria div:nth-child(1) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0px 0px 0px;
}
main .galeria div:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  height: 90%;
  width: 100%;
  border-radius: 0px 0px 0px 20px;
}
main .galeria div:nth-child(2) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 0px 0px 20px;
}
main .galeria div:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}
main .galeria div:nth-child(3) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeria div:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  height: 90%;
  width: 100%;
}
main .galeria div:nth-child(4) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeria div:nth-child(5) {
  grid-column: 3;
  grid-row: 1/3;
  width: 100%;
  border-radius: 0px 20px 20px 0px;
  height: 95%;
}
main .galeria div:nth-child(5) iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 20px 20px 0px;
}
main .galeria div:hover {
  filter: brightness(50%);
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.75s;
}

footer {
  width: 100%;
  background-color: #2b273d;
  height: 100%;
  display: flex;
  flex-flow: row;
  margin-top: 13px;
}
footer div:nth-child(1) {
  width: 40%;
  margin-left: 3%;
  display: flex;
  flex-flow: column;
}
footer div:nth-child(1) div:nth-child(1) {
  width: 50%;
  margin-top: 3%;
  margin-left: 3%;
}
footer div:nth-child(1) div:nth-child(2) {
  display: flex;
  flex-flow: column;
}
footer div:nth-child(1) div:nth-child(2) ul {
  margin-left: 9%;
  list-style: none;
}
footer div:nth-child(1) div:nth-child(2) ul li a {
  color: white;
  text-decoration: none;
}
footer div:nth-child(1) div:nth-child(2) ul li a:hover {
  text-decoration: underline;
}
footer div:nth-child(1) div:nth-child(2) ul li a .contenedorSubListaFooter {
  margin-left: 9%;
  list-style: none;
}
footer div:nth-child(1) div:nth-child(2) ul li a .contenedorSubListaFooter li {
  color: white;
  text-decoration: none;
}
footer div:nth-child(1) div:nth-child(2) div {
  display: flex;
  flex-flow: row;
  margin-top: 3%;
  margin-left: 10%;
  width: 55%;
  height: 80%;
  padding-bottom: 12px;
}
footer div:nth-child(1) div:nth-child(2) div div img {
  width: 70%;
}
footer div:nth-child(1) div:nth-child(2) div div img:hover {
  transform: scale(1.2);
}
footer .imagenFooter {
  background-color: rgba(137, 43, 226, 0.253);
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: linear-gradient(#2b273d, rgba(43, 39, 61, 0.78)), url("../img/imagen-footer-1.jpg");
  background-size: cover;
  background-position-x: right;
  background-position-y: 45%;
}

.bordesRedondos {
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
}

.btnTransparenciaOscuro {
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  border: none;
}
.btnTransparenciaOscuro a {
  color: white;
  text-decoration: none;
}

.container-main {
  /* width: 100%;
  height: 240vh; */
  margin-left: 0%;
  margin-right: 0%;
}

@media (max-width: 2560px) {
  main {
    height: 360vh;
  }
}
@media (max-width: 1440px) {
  main {
    height: 360vh;
  }
}
@media (max-width: 768px) {
  .imgLogo {
    margin-left: 0px;
  }
  .menu li:nth-child(2) {
    margin-left: 16px;
  }
  main .seccionInfo2 div:nth-child(2) div:nth-child(1) {
    font-size: x-large;
  }
  main .seccionInfo2 div:nth-child(2) div:nth-child(2) {
    margin-right: 7%;
  }
  .textoSeccion {
    font-size: 30px;
  }
  .seccionInfo2 {
    gap: 3%;
    height: 90vh;
    grid-template-columns: repeat(5, 0.5fr);
    grid-template-rows: repeat(7, 0.5fr);
  }
  .contenidoInfo2 {
    grid-row: 1/4;
    grid-column: 1/4;
    background-size: cover;
  }
  .textoInfo2 {
    margin-right: 0%;
    top: 15%;
    font-size: 23px;
  }
  .botonInfo2 {
    margin-right: 0%;
    margin-top: 30px;
    top: 0%;
  }
  .imagenInfo2 {
    grid-row: 4/8;
    grid-column: 3/6;
    background-position: center;
  }
}
@media (max-width: 525px) {
  header {
    display: flex;
    flex-flow: column;
    height: 94vh;
  }
  .logo {
    width: 100%;
    height: 58%;
  }
  .imgLogo {
    width: 100%;
    height: 80%;
    margin-left: 1px;
  }
  .barraNav {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 26%;
  }
  .barraNav div:nth-child(1) {
    text-align: center;
    margin-top: 0%;
  }
  .barraNav nav ul {
    margin-top: 0%;
  }
  .menu {
    margin-top: 0%;
    margin-left: 8px;
    justify-content: center;
  }
  .menu li:nth-child(2) {
    padding-left: 7px;
    margin-left: 5px;
  }
  .banner {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  main {
    grid-gap: 2%;
    height: 365vh;
    margin-top: 12%;
  }
  main .seccionInfo {
    height: 60vh;
  }
  main .seccionInfo div:nth-child(2) {
    grid-row: 2;
    grid-column: 1/11;
    font-size: xx-large;
    top: 27%;
    padding-left: 5px;
    padding-right: 5px;
  }
  main .seccionInfo div:nth-child(3) {
    grid-row: 3;
    grid-column: 3/9;
    top: 25%;
  }
  main .seccionInfo2 {
    grid-template-rows: repeat(7, 0.5fr);
    grid-template-columns: repeat(7, 0.5fr);
    height: 100vh;
  }
  main .seccionInfo2 div:nth-child(1) {
    grid-row: 1/5;
    grid-column: 1/6;
  }
  main .seccionInfo2 div:nth-child(2) {
    grid-row: 1/5;
    grid-column: 1/6;
  }
  main .seccionInfo2 div:nth-child(2) div:nth-child(1) {
    top: 15%;
    font-size: large;
  }
  main .seccionInfo2 div:nth-child(2) div:nth-child(2) {
    top: 20%;
  }
  main .seccionInfo2 div:nth-child(2) div:nth-child(2) button {
    padding: 10px 15px 10px 15px;
  }
  main .seccionInfo2 div:nth-child(3) {
    grid-row: 4/8;
    grid-column: 3/8;
  }
  main .galeria {
    height: 0%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
  }
  main .galeria div:nth-child(2) {
    height: 100%;
  }
  main .galeria div:nth-child(2) img {
    border-radius: 0px 0px 0px 0px;
  }
  main .galeria div:nth-child(3) img {
    border-radius: 0px 20px 0px 0px;
  }
  main .galeria div:nth-child(4) {
    height: 100%;
  }
  main .galeria div:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
    height: 500px;
  }
  main .galeria div:nth-child(5) iframe {
    border-radius: 0px 0px 20px 20px;
    height: 440px;
  }
  footer {
    margin-top: 4%;
  }
  .contenedorBtnSeccionInfo {
    top: 25%;
  }
  .contenidoInfo2 {
    grid-column: 1/3;
    grid-row: 1/5;
    background-size: cover;
    background-position: center;
  }
  .botonInfo2 {
    margin-right: 0%;
  }
  .galeria :nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .img2 {
    border-radius: 0px 20px 0px 0px;
  }
  .galeria :nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/2;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .galeria :nth-child(4) {
    grid-column: 3/5;
    grid-row: 2/3;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .galeria :nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/3;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .galeria :nth-child(5) {
    grid-column: 1/5;
    grid-row: 3/5;
    width: 100%;
    height: 90%;
  }
  .video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0px 0px 20px 20px;
  }
  footer {
    background-image: url("../img/imagen-footer-1.jpg");
    background-size: cover;
    height: 80%;
    background-position: center;
    filter: brightness(55%);
  }
  .contenedorMenuFooter {
    grid-column: 1/3;
    width: 100%;
  }
  .listaRedes {
    margin-left: 26%;
  }
  .imagenFooter {
    display: none;
  }
}
@media (max-width: 360px) {
  header {
    display: flex;
    flex-flow: column;
    height: 94vh;
  }
  .barraNav nav ul {
    margin-top: 0%;
  }
  .barraNav div {
    margin-top: 0%;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .imgLogo {
    width: 100%;
    height: 80%;
  }
  .barraNav {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 19%;
  }
  .menu {
    margin-top: 0%;
    margin-left: 8px;
    justify-content: center;
  }
  .menu li:nth-child(2) {
    padding-left: 5px;
    margin-left: 5px;
  }
  .banner {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .textoBanner {
    top: 58%;
    font-size: 24px;
    margin-right: 0%;
  }
  body main {
    grid-gap: 2%;
    height: 365vh;
  }
  .seccionInfo {
    height: 94%;
  }
  .textoSeccion {
    font-size: 25px;
  }
  .contenedorBtnSeccionInfo {
    top: 20%;
  }
  .seccionInfo2 {
    height: 100%;
  }
  .seccionInfo :nth-child(2) {
    grid-row: 2;
    grid-column: 2/10;
    margin-right: 0px;
  }
  .seccionInfo :nth-child(3) {
    grid-row: 3;
    grid-column: 3/9;
    margin-top: 8px;
  }
  .contenidoInfo2 {
    grid-column: 1/5;
    grid-row: 1/5;
    background-size: cover;
    background-position: center;
  }
  .seccionInfo2 :nth-child(1) {
    grid-row: 1/5;
    grid-column: 1/5;
    width: 100%;
  }
  .seccionInfo2 :nth-child(2) {
    grid-row: 1/4;
    grid-column: 1/5;
    margin: auto;
  }
  .seccionInfo2 :nth-child(3) {
    grid-row: 4/8;
    grid-column: 2/6;
  }
  main {
    margin-top: 20%;
  }
  main .seccionInfo div:nth-child(2) {
    font-size: x-large;
  }
  main .seccionInfo2 div:nth-child(2) {
    padding: 0px;
  }
  main .seccionInfo2 div:nth-child(2) div:nth-child(2) {
    margin-right: 17%;
    top: 20px;
    left: 0px;
    top: 20px;
    /* transform: translate(-50%, -50%); */
    margin-right: 0px;
    margin-left: 0px;
    align-self: center;
    justify-content: center;
  }
  main .seccionInfo2 div:nth-child(2) div:nth-child(2) button {
    margin-left: 50%;
  }
  main .galeria div:nth-child(5) {
    height: 95%;
  }
  main .galeria div:nth-child(5) iframe {
    height: 80%;
  }
  .textoInfo2 {
    margin-right: 0%;
    font-size: 25px;
    position: top;
  }
  .botonInfo2 {
    margin-right: 0%;
    top: 0px;
  }
  .galeria {
    margin-top: 0%;
  }
  footer {
    background-image: url("../img/imagen-footer-1.jpg");
    background-size: cover;
    height: 50%;
    background-position: center;
    filter: brightness(55%);
  }
  .contenedorMenuFooter {
    grid-column: 1/3;
    width: 100%;
  }
  .listaRedes {
    margin-left: 26%;
  }
  .imagenFooter {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */