*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(0, 0, 0) ;  
}

header{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
}

.barraNav{
    width: 100%;
    height: 90px;
    background: #1F1C2C;  
    background: -webkit-linear-gradient(to right, #2b273d, #2b273d);  
    background: linear-gradient(to right, #2d293d, #2b273d); 
    display: flex;
    flex-flow: row;
    position: fixed;
    border-radius: 0px 0px 20px 20px;
    align-self: center;
    z-index: 5;
}

.imgLogo{
    width: 70%;
    height: 75%;
}

.logo{
    width: 100%;
    height: 100%;
    text-align: left;
    margin-top: 5px;
}


.navBar{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-between;
    align-content: center;
}

.menu{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;    
}

.subLista{
    background-color: #2d293d; 
    list-style: none;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.lista{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.lista:hover{
    text-decoration: underline;
}

.contenedorSubLista{
    color: rgba(253, 0, 0, 0); 
    background-color: rgba(36, 4, 150, 0);
    margin-top: -19px;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 115%;
    padding-left: 5px;
}   

.contenedorSubLista:hover{
    color: rgb(255, 255, 255); 
    background-color: #2d293d; 
} 

.subLista{
    color: rgba(0, 0, 0, 0); 
    background-color: rgba(1, 133, 116, 0);
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: -5px;
    padding: 0px 10px 10px 10px ;
    text-decoration: none;
}

.subLista:hover{
    color: rgb(255, 255, 255);  
    background-color: #2d293d; 
    
}

.banner{
    height: 100vh; 
    position: relative;
    display: inline-block;
    text-align: center;
    z-index: -1;
    border-radius: 0px 0px 20px 20px;
    background-image: url("../img/cocteles-banner-inicio.jpg"); 
    background-size: cover;
    filter: brightness(95%);
}

.contenedorTextoBanner{
    position: absolute;
    align-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textoBanner{
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    margin-right: 20%;
}

.imgBanner{
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    filter: brightness(50%);
}

.imagenBanner{
    width: 100%;
    align-self: center;
}

main{
    width: 90%;
    height: 315vh;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,2fr);
    grid-gap: 3%;
    margin-left: 5%;
    margin-right: 5%; 
}

.seccionInfo{
    width: 100%;
    height: 80vh;
    grid-column: auto;
    grid-row: 1;
    border-radius: 20px;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3,1fr);
    position: relative;
}

.seccionInfo :nth-child(1){
    width: 100%;
    grid-row: 1 / 4;
    grid-column: 1 / 11;
    z-index: -2;
    object-fit: cover;
    border-radius: 20px;
}

.seccionInfo div img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(70%);
}

.seccionInfo :nth-child(2){
    grid-row: 2;
    grid-column: 3 / 9;
    width: 100%;
}

.seccionInfo :nth-child(3){
    grid-row: 3;
    grid-column: 4 / 8;
}

.seccionInfo2{
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 30, 128, 0);
    display: grid;
    grid-template-columns: repeat(4,0.5fr);
    grid-template-rows: repeat(4,0.5fr);
}

.galeria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 3%;
}

.textoSeccionInfo{
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.textoSeccion{
    font-size: 40px; 
    margin-right: 20%;
}
.contenedorBtnSeccionInfo{
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.contenidoInfo2{
    grid-row: 1 / 5;
    grid-column: 1 / 4;
    z-index: -1;
    display: flex;
    flex-flow: column;
}

.imgSeccionInfo2{
    grid-row: 1 / 5;
    grid-column: 1 / 4;
    width: 100%;
    z-index: -2;
    height: 100%;
    filter: brightness(65%);
}
.imgSeccInfo2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.textoInfo2{
    color: white;
    margin-right: 40%;
    text-align: center;
    position: relative;
    top: 27%;
    font-size: xx-large;
}

.botonInfo2{
    margin-right: 40%;
    text-align: center;
    position: relative;
    top: 30%;
    font-size: xx-large;
}

.imagenInfo2{
    grid-row: 1 / 5;
    grid-column: 3 / 5;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.imgInfo2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.galeria  div:hover{
    filter: brightness(50%);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .75s;
    
}

.imagen1Galeria{
    grid-column: 1;
    grid-row: 1;
}

.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 0px;
}

.imagen2Galeria{
    grid-column: 1;
    grid-row: 2;
    height: 90%;
    border-radius: 0px 0px 0px 20px;
    
}

.img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 0px 20px;
}

.imagen3Galeria{
    grid-column: 2;
    grid-row: 1;
}

.img3{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen4Galeria{
    grid-column: 2;
    grid-row: 2;
    height: 90%;
}

.img4{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen5Galeria{
    grid-column: 3;
    grid-row: 1 / 3;
    border-radius: 0px 20px 20px 0px;
    height: 95%;
}

.bordesRedondos{
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    
}
.btnTransparenciaOscuro{
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    border: none;
    
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 20px 20px 0px;
}

footer{
    width: 100%;
    background-color: #2b273d;
    height: 100%;
    display: flex;
    flex-flow: row;
    margin-top: 13px;
}

.contenedorMenuFooter{
    width: 40%;
    margin-left: 3%;
    display: flex;
    flex-flow: column;
}



.imgLogoFooter{
    width: 50%;
    margin-top: 3%;
    margin-left: 3%;
}

.menuFooter{
    display: flex;
    flex-flow: column;
}
.contentedorListaFooter{
    margin-left: 9%;
    list-style: none;
    
}

.listaFooter{
    color: white;
    text-decoration: none;
} 

.listaFooter:hover{
    text-decoration: underline;
}

.contenedorSubListaFooter{
    margin-left: 9%;
    list-style: none;
}

.subListaFooter{
    color: white;
    text-decoration: none;
}

.subListaFooter:hover{
    text-decoration: underline;
}

.listaRedes{
    display: flex;
    flex-flow: row;
    margin-top: 3%;
    margin-left: 10%;
    width: 50%;
    height: 100%;
}

.listaRedes div img:hover{
    transform: scale(1.2);
}
.imagenFooter{
    background-color: rgba(137, 43, 226, 0.253);
    width: 60%;
    object-fit: cover;
    background-image: linear-gradient(#2b273d, #2b273d83),
                    url("../img/imagen-footer-1.jpg");
    background-size: cover;
    background-position-x: right;
    background-position-y: 45%;

}

.red{
    width: 45%;
}

.container-main{
    /* width: 100%;
    height: 240vh; */
    margin-left: 0%; 
    margin-right: 0%;
}


@media  (max-width:360px){
    header{
        display: flex;
        flex-flow: column;
        height: 94vh;
    }

    .logo{
        width: 100%;
        height: 100%;
    }

    .imgLogo{
        width: 100%;
        height: 80%;
    }

    .barraNav{
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 19%;
    }

    .menu{
        margin-top: 0%;
        margin-left: 8px;
        justify-content: center;
    }

    .menu li:nth-child(2){
        padding-left: 50px;
        margin-left: 5px;
    }

    .banner{
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    .textoBanner{
        top: 58%;
        font-size: 24px;
        margin-right: 0%;
    }

    body main{
        grid-gap: 2%;
        height: 365vh;
    }
    .seccionInfo{
        height: 94%;

    }

    .textoSeccion{
        font-size: 25px;
    }
    .contenedorBtnSeccionInfo{
        top: 20%;
    }

    .seccionInfo2{
        height: 100%;
    }

    .seccionInfo :nth-child(2) {
        grid-row: 2;
        grid-column: 2 / 10;
        margin-right: 0px;
    }

    .seccionInfo :nth-child(3) {
        grid-row: 3;
        grid-column: 3 / 9;
        margin-top: 8px;
    }
    .contenidoInfo2{
        grid-column: 1 / 5;
        grid-row: 1 / 5;
        background-size: cover;
        background-position: center;
    }

    .seccionInfo2 :nth-child(1){
        grid-row: 1 / 5;
        grid-column: 1 / 5  ;
        width: 100%;
    }

    .seccionInfo2 :nth-child(2){
        grid-row: 1 / 4;
        grid-column: 1 / 5;
        margin:auto;
    }
    .seccionInfo2 :nth-child(3){
        grid-row: 4 / 8;
        grid-column: 2 / 6;
    }

    .textoInfo2{
        margin-right: 0%;
        font-size: 25px;
        position: top;
    }

    .botonInfo2{
        margin-right: 0%;
        top: 0px;
    }

    .galeria{
        margin-top: 0%;
    }

    footer{
        background-image: url('../img/imagen-footer-1.jpg');
        background-size: cover;
        height: 50%;
        background-position: center;
        filter: brightness(55%)
    }
    .contenedorMenuFooter{
        grid-column: 1 / 3;
        width: 100%;
    }

    .listaRedes{
        margin-left: 26%;
    }

    .imagenFooter{
        display: none;
    }

    .container-header{
        width: 100%;
        height: 100%;
        margin-top: 20%;
    }
    
    .container-main{
        width: 100%;
        height: 97vh;
    }
}


@media  (max-width:560px){
    header{
        display: flex;
        flex-flow: column;
        height: 94vh;
    }

    .logo{
        width: 100%;
        height: 58%;
        
    }

    .imgLogo{
        width: 100%;
        height: 80%;
        margin-left: 1px;
    }

    .barraNav{
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 25%;
    }

    .menu{
        margin-top: 0%;
        margin-left: 8px;
        justify-content: center;
    }

    .menu li:nth-child(2){
        padding-left: 50px;
        margin-left: 5px;
    }

    .banner{
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    main{
        grid-gap: 2%;
        height: 480vh;
    }
    .seccionInfo{
        height: 60vh;
    }

    .contenedorBtnSeccionInfo{
        top: 25%;
    }

    .seccionInfo2{
        height: 60vh;
    }

    .contenidoInfo2{
        grid-column: 1 / 3;
        grid-row: 1 / 5;
        background-size: cover;
        background-position: center;
    }

    .botonInfo2{
        margin-right: 0%;
    }

    .galeria{
        margin-top: 0%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,0.5fr);
    }

    .galeria :nth-child(1){
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        object-fit: cover;
    }
    
    .img2{
        border-radius: 0px 20px 0px 0px
    }
    .galeria :nth-child(2){
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        object-fit: cover;
        height: 100%;
    }

    .galeria :nth-child(4){
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        object-fit: cover;
        height: 100%;
    }

    .galeria :nth-child(3){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        object-fit: cover;
        height: 100%;
    }

    .galeria :nth-child(5){
        grid-column: 1 / 5;
        grid-row: 3 / 5;
        width: 100%;
        height: 90%;
    }

    .video{
        width: 100%;
        object-fit: cover;
        border-radius: 0px 0px 20px 20px;
    }

    footer{
        background-image: url('../img/imagen-footer-1.jpg');
        background-size: cover;
        height: 80%;
        background-position: center;
        filter: brightness(55%)
    }
    .contenedorMenuFooter{
        grid-column: 1 / 3;
        width: 100%;
    }

    .listaRedes{
        margin-left: 26%;
    }

    .imagenFooter{
        display: none;
    }

    .container-header{
        width: 100%;
        height: 100%;
        margin-top: 20%;
    }
    
    .container-main{
        width: 100%;
        height: 122vh;
    }
}

@media  (max-width:768px){

    .imgLogo{
        margin-left: 0px;
    }

    .menu li:nth-child(2){
        margin-left: 16px;
    }

    .textoSeccion{
        font-size: 30px;
    }

    .seccionInfo2{
        gap: 3%;
        height: 90vh;
        grid-template-columns: repeat(5,0.5fr);
        grid-template-rows: repeat(7,0.5fr);
    }
    .contenidoInfo2{
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        background-size: cover;
    }
    
    .textoInfo2{
        margin-right: 0%;
        top: 15%;
        font-size: 23px;

    }
    .botonInfo2{
        margin-right: 0%;
        margin-top: 30px;
        top: 0%;
    } 
    
    .imagenInfo2{
        grid-row: 4 / 8;
        grid-column: 3 / 6;
        background-position: center;
    }

    .container-header{
        width: 100%;
        height: 100%;
        /* margin-top: 20%; */
    }
    
    .container-main{
        width: 100%;
        height: 152vh;
    }
}

@media  (max-width:1440px) {
    main{
        height: 360vh;
    }
    .container-header{
        width: 100%;
        height: 100%;
        /* margin-top: 20%; */
    }
    
    .container-main{
        width: 100%;
        height: 175vh;
    }
}

@media  (max-width:2560px) {
    main{
        height: 360vh;
    }
    .container-header{
        width: 100%;
        height: 100%;
        /* margin-top: 20%; */
    }
    
    .container-main{
        width: 100%;
        height: 240vh;
        margin-left: 0%; 
        margin-right: 0%;
    }
}